/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family:  Arial, sans-serif;
	margin-top:14px;
}

body {
	background-color: #adb5bd;

}

p {
	padding: 10px;
	margin: 0;
}

.container-fluid {

	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	background-color: #f8f9fa;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	text-align: center;
	width: 100%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

#beef {
	text-align: center;
	width: 100%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

#sushi {
	text-align: center;
	width: 100%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 4em;
  }
@media (max-width:575px)
{ 
    .navbar-brand {
        font-size:1em;        
    }
}	
#header-nav {
  border: 0;
}

.navbar-header button.navbar-toggle{
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  margin-bottom: 10px;
  color:white;
}

.nav-brand {
  color: #FAFFFF;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

